<h1 class="title">Formação</h1>
<hr>
<img src="/assets/grad.jpg" alt="Graduation">
<div class="main">
  <p>
    Sou bacharel em Sistemas de Informação pela Universidade Federal do Rio Grande - FURG, graduado em janeiro de 2018.
  </p>

  <p>
    Antes de fazer SI, cursei Engenharia de Computação e fui bolsista IC na área de modelagem de simulações climáticas
    utilizando sistemas multiagentes, mais especificamente no Netlogo. O objetivo era criar uma aplicação visual Para 
    o ensino escolar de mudanças climáticas.
  </p>

  <p>
    Também estagiei dentro da universidade por 2 anos, realizando manutenção de equipamentos, atendimento ao público, suporte
    técnico interno e mantendo a página institucional baseada em Joomla, além de desenvolver artes internas em Photoshop e
    Corel Draw.
  </p>
  <p>
    No último ano da graduação estagiei na Refinaria de Petróleo Riograndense, trabalhando na área de desenvolvimento dos 
    sistemas internos com a stack Microsoft.
  <p>
    Meu trabalho de conclusão de curso foi na área de Sistemas Distribuídos. Nele detalhei o funcionamento de sistemas baseados 
    em blockchain, incluindo criptomoedas, e realizei uma comparação de desempenho e vantagens de cada algoritmo utilizado.
  </p>
</div>
