<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
    <title>Página - Gibran</title>
</head>
<body>
  <ul class="topnav">
    <li><a href="/personal">Informações pessoais</a></li>
    <li><a href="/pullrequests">Histórico de PRs no Git</a></li>
    <li><a href="/academic">Formação acadêmica</a></li>
  </ul>
  <%= yield %>
</body>
</html>
