<h1 class="title">Gibran Irizaga Pereira Gonçalves</h1>
<hr>
<div class="main">
  <img src="/assets/foto.jpg" alt="Avatar">
  <h3>Nascimento</h3>
  <p>Nascido em Bagé-RS, em 10/12/1991. Morei lá até 2008.</p>

  <h3>Residência</h3>
  <p>Desde o início de 2009 moro em Rio Grande-RS, onde vim fazer a graduação
  e acabei ficando até o momento.</p>

  <h3>Família</h3>
  <p>Além de meus pais, tenho uma irmã mais velha e um sobrinho de 9 anos.
  Não tenho contato com nenhum parente fora minha família direta.</p>

  <h3>Educação</h3>
  <p>Sempre estudei em escolas públicas normais, nunca fiz curso técnico. Larguei Engenharia de
  Computação quase no penúltimo ano, cheguei a entrar no curso de Nutrição e quase larguei tudo
  pra fazer bacharelado em Educação Física em 2015, antes de mudar pra Sistemas de Informação.</p>

  <h3>Sobre mim</h3>
  <p>
    <ul>
      <li>Gosto muito de ficar sozinho</li>
      <li>posso ouvir música o dia todo</li> 
      <li>amo jogar jogos single player e de puzzle</li>
      <li>amo treinar na academia</li> 
      <li>totalmente nerd em pesquisar e estudar sobre treinos e alimentação</li> 
      <li>Sou completamente apaixonado por tatuagens.</li>
    </ul> 
  </p>
  
  <h3>Trabalho</h3>
  <p>Trabalhei por muitos anos como técnico de informática/suporte técnico, além de já ter feito
  estágios na área de TI, trabalhado como fotógrago e ter dado aulas particulares de inglês.</br>
  Atualmente feliz por estar de volta na área de desenvolvimento dentro da Code.</p>
</div>
