<h1 class="title">Github/Pull requests</h1>
<hr>
<img src="/assets/git.jpg" alt="Git">
<div class="container">
  <ul class="pr">
    <li class="pr-url">
      <a class="pr-link" href="https://github.com/irizaga/parser/pull/1" target="_blank">Tarefa 3</a>
    </li>
    
    <li class="pr-url">
      <a class="pr-link" href="https://github.com/irizaga/parser/pull/2" target="_blank">Tarefa 3</a>
    </li>
    
    <li class="pr-url">
      <a class="pr-link" href="https://github.com/irizaga/parser/pull/3" target="_blank">Rubocop/SimpleCov</a>
    </li>
    
    <li class="pr-url">
      <a class="pr-link" href="https://github.com/irizaga/parser/pull/4" target="_blank">Tarefa 3</a>
    </li>
  </ul>
</div>
